<section id="image-gallery">
    <div class="grid">
        <div>
            <img
                style="object-fit: cover; height: 100%"
                src="{{inspiration_image.source_url}}"
            />
        </div>
        <div>
            <img
                style="object-fit: cover; height: 100%"
                src="{{generated_image.source_url}}"
            />
        </div>
    </div>

    <div class="grid">
        <button
            id="image-container"
            hx-get="/images/{{generated_image.id}}/previous"
            hx-target="#image-gallery"
            hx-trigger="click"
            hx-swap="outerHTML"
        >
            previous
        </button>
        <button
            id="image-container"
            hx-get="/images/{{generated_image.id}}/next"
            hx-target="#image-gallery"
            hx-trigger="click"
            hx-swap="outerHTML"
        >
            next
        </button>
    </div>
</section>
